@import "tailwindcss";

@theme {
  /* * Colors */
  --color-weather-primary: #00668a;
  --color-weather-secondary: #004e71;

  /* * Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
}

.hourly-bar {scrollbar-width: 4px;scrollbar-color: var(--color-weather-secondary) #fff0;scrollbar-gutter: stable;}
.fade-enter-active, .fade-leave-active {transition: opacity 0.4s ease;}
.fade-enter-from,.fade-leave-to {opacity: 0;}
.fade-enter-to, .fade-leave-from {opacity: 1;}
.page-enter-active, .page-leave-active {transition: opacity 0.6s ease;}
.page-enter-from, .page-leave-to {opacity: 0;}
.page-enter-to, .page-leave-from {opacity: 1;}
