@import "tailwindcss";

@theme {
  /* * Colors */
  --color-weather-primary: #00668A;
  --color-weather-secondary: #004E71;

  /* * Fonts */
  --font-roboto: "Roboto", sans-serif;

  /* * Container */
  --container-padding: 2rem;

  /* * Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
}
