@import "tailwindcss";

@theme {
  /* * Colors */
  --color-weather-primary: #00668A;
  --color-weather-secondary: #004E71;

  /* * Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
}
